<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../theme/style.css" />
    <link rel="shortcut icon" href="../assets/icons/logo1.svg" type="image/x-icon" />
    <title>Copywriting | Ecom Zap</title>
  </head>
  <body>
    <header class="width-100">
      <nav class="d-flex align-center width-80 margin-auto">
        <a href="../index.html#" class="logo">
        <div>
          <img src="../assets/icons/logo1.svg" alt="" />
        </div>
      </a>
        <input type="checkbox" name="" id="chkbox" />
        <div class="menu-list d-flex flex-1">
          <li class="d-flex align-center p-relative">
            <a href="../index.html#what" class="w-bold">What we do?</a>
            <div class="line p-absolute"></div>
          </li>
          <li class="d-flex align-center p-relative">
            <a href="../index.html#who" class="w-bold">Who we are?</a>
            <div class="line p-absolute"></div>
          </li>
          <li class="d-flex align-center p-relative">
            <a href="../index.html#partners" class="w-bold">Partners</a>
            <div class="line p-absolute"></div>
          </li>
        </div>
        <div class="ctas d-flex">
          <a href="tel:03315970886" class="d-flex">
            <div
              class="call box-btn d-flex align-center justify-center radius-3"
            >
              <img src="../assets/icons/call.svg" alt="" />
            </div>
          </a>

          <label for="chkbox" class="menu d-none">
            <div
              class="menu-btn box-btn d-flex align-center justify-center radius-3"
            >
              <img src="../assets/icons/menu-ico.svg" alt="" />
            </div>
          </label>
          <a
            href="contact.html"
            class="d-flex align-center justify-center box-btn w-bold contact-btn clicked radius-3"
          >
            Contact us
          </a>
        </div>
      </nav>
    </header>

    <main>
 
<section class="head d-flex wrap-flex width-80 margin-auto">
    <div class="flex-1 padTop-20">
        <p class="w-black font-50-30 padTop-20">
            Amazon Copywriting
          </p>
          <p class="font-16-13 padTop-20 line-height contentx">
            Get A Great Amazon Product Listing That Generates Higher Engagement Levels To Boost Leads & Conversions.
          </br>
          </br>
          It is a no-brainer that an excellent copy for your Amazon product listing will attract and engage more customers. It helps position your brand as an authority, and the consumer starts to perceive your brand as a reliable business.
            
          </p>
          
          <a
          href="#c-form"
          class="d-flex align-center justify-center box-btn w-bold contact-btn talk-btn clicked radius-3 m-t-30"
        >
          Let's start &nbsp;&nbsp; <img src="../assets/icons/black-arrow.svg" alt="">
        </a>
    </div>
    <div class="price-box d-flex justify-center align-center">
    <p class="w-black font-50-30 clrd-text" >300 <span class="dollar">$</span></p>
    </div>
</section>
<section class="page-subhead">
    <p class="font-50-30 w-extrabold d-flex align-center justify-center">
        <span>
          Why Choose us?
        </span>
      </p>
</section>
      <!----------Thriving-------------->
      <section class="talk1">
        <div class="talk2 width-80 margin-auto d-flex wrap-flex align-center gap">
          <div class="flex-1 d-flex flex-col gap">
     
            <p class="font-50-30 w-extrabold">
                Services
            
            </p>
 
               <p class="l-h-20">
                Our copywriters are expert at creating an eye-catching copy for your Amazon product that is guaranteed to boost your sales. 
               </br>
                Our expert writers research your competitors to understand their marketing strategies. 
              </br>
                Moreover, we research your target consumer to understand their buying behaviors, their likes and dislikes, triggers for their decision making processes, and more. 
            </br>
                Once this research is done, we move forward with the copywriting for your product listing. We use power words and impact phrases to trigger specific positive psychological reactions at the consumer-end. We use research-backed methods to positively reinforce your product and position it as the best product in your target category. 
          </br>
                Result? Your sales will go through the roof!
               </p>
           
            <a
            href="#c-form"
            class="d-flex align-center justify-center box-btn w-bold contact-btn talk-btn clicked radius-3 m-t-30"
          >
            Get now &nbsp;&nbsp; <img src="../assets/icons/black-arrow.svg" alt="">
          </a>
          </div>

          <div class="choose d-flex align-center justify-center">
            <img src="../assets/icons/copywriting.svg" alt="">
          </div>
        </div>
      </section>

      <!-----------Partners------------->
      <section class="collab width-80 margin-auto" id="partners">
        <p class="font-50-30 w-extrabold d-flex align-center justify-center">
          <span>
            Our partners
            <span class="dot">.</span>
          </span>
        </p>
        <div class="partners-list d-flex wrap-flex align-center">
          <div class="partner">
            <img src="../assets/images/p1.png" alt="" />
          </div>
          <div class="partner">
            <img src="../assets/images/p3.png" alt="" />
          </div>
          <div class="partner">
            <img src="../assets/images/p2.png" alt="" />
          </div>
          <div class="partner">
            <img src="../assets/images/p4.png" alt="" />
          </div>
          <div class="partner">
            <img src="../assets/images/p5.png" alt="" />
          </div>
        </div>
      </section>



      <!----------Form area------------>
      <section class="d-flex wrap-flex" >
        <div class="trust-img p-relative">
          <p class="font-50-30 w-extrabold p-absolute width-100">
              Trust builds here
          </p>
          <img src="../assets/images/trust.png" alt="" class="width-100">
          <div class="brick"></div>
        </div>
        <div class="form flex-1">
          <form action="" method="post" class="s-form" id="c-form">
            <p class="font-50-30 w-extrabold">
              <span>
                Get your Services </br> Now
              </span>
            </p>
            <p>Fill the form, choose your service and easily pay in next steps so that we will contact you directly.</p>
          
          <!--------form starts here------------->
          <p class="font-13 w-semibold field-name">NAME</p>
          <input required type="text" name="" id="" class="field width-100 font-16">
          <p class="font-13 w-semibold field-name">EMAIL ADDRESS</p>
          <input required type="email" name="" id="" class="field width-100 font-16">
          <p class="font-13 w-semibold field-name">PHONE NUMBER</p>
          <input required type="number" name="" id="" class="field width-100 font-16">
          <p class="font-13 w-semibold field-name">SELECT SERVICE</p>
          <select name="" id="serv" class="field width-100">
            <option selected="true" disabled="disabled" value="0">Click to choose</option>
            <option value="300">Copywriting</option>
          </select>

          <div class="d-flex align-center price-area">
<div>
  <span class="font-50-30 w-extrabold price">0</span><span>&nbsp;&nbsp;$</span>
</div>
<div class="margin-left-auto">         
  <button type="submit" 
  class="d-flex align-center justify-center box-btn w-bold contact-btn talk-btn con-btn clicked radius-3"
>
   Continue &nbsp;&nbsp; <img src="../assets/icons/black-arrow.svg" alt="">
</button>
</div>
          </div>

          </form>
          <div class="brick2"></div>
        </div>
      </section>

      <!----------Ask---------->
      <div class="chat p-relative">
        <p class="font-50-30 w-extrabold d-flex justify-center">
        Ask us through live chat support
        </p>
        <img src="../assets/images/msg.png" alt="" class="p-absolute">
      </div>
  
    </main>

    <footer id="foot">
      <div  class="d-flex wrap-flex footer">
<div class="logo-foot">
  <img src="../assets/icons/logo-footer.svg" alt="">
</div>
<div class="s-foot">
  <p class="font-13 w-semibold field-name">AMAZON SERVICES</p>
  <div class="s-list d-flex flex-col line-h-30 hover-blue-line">
  <a href="" class="font-16-13"> Full Account Management</a>
  <a href="" class="font-16-13">Search Engine Optimization (SEO)</a>
  <a href="" class="font-16-13">Sponsored Ads Management (PPC)</a>
  <a href="" class="font-16-13">Product Launch</a>
  <a href="" class="font-16-13">Listing Optimization</a>
  <a href="" class="font-16-13">Brand Protection & Assistance</a>
  <a href="" class="font-16-13">Account Suspension Appeal & Reinstatement</a>
  <a href="" class="font-16-13">Reimbursement & Refund</a>
  <a href="" class="font-16-13">FBA Wholesale Partnership Program</a>
  <a href="" class="font-16-13">Amazon Demand-Side Platform Advertising</a>
  </div>
</div>
<!---------------------------->
<div>
<div class="s-foot">
  <p class="font-13 w-semibold field-name">COMPANY</p>
  <div class="s-list d-flex flex-col line-h-30 hover-blue-line">
  <a href="" class="font-16-13">What we do?</a>
  <a href="" class="font-16-13">Who we are?</a>
  <a href="" class="font-16-13">Partners</a>
  </div>
</div>
<div class="s-foot">
  <p class="font-13 w-semibold field-name">LOCATION</p>
  <div class="s-list d-flex flex-col line-h-30 hover-blue-line">
  <p class="font-16-13">Pakistan </br> Office Haji Camp i-14 </br>Islamabad</p>
  </div>
</div>
</div>
<!---------------------------->
<div>
  <div class="s-foot">
    <p class="font-13 w-semibold field-name">CONTACT</p>
    <div class="s-list d-flex flex-col line-h-30 hover-blue-line">
    <a href="" class="font-16-13">+92 331 5970886</a>
    <a href="" class="font-16-13">info@ecomzap.com</a>
    </div>
  </div>
  <div class="s-foot">
    <p class="font-13 w-semibold field-name">SOCIAL</p>
    <div class="s-list d-flex flex-col line-h-30 hover-blue-line">
  
    </div>
  </div>
  </div>
</div>
<div class="rights d-flex wrap-flex">
  <div class="font-13">@ 2021, All rights reserved to Ecomzap.com</div>
  <div class="font-13 margin-left-auto">Made with <span class="love"> ❤ </span> by <a href="" class="w-bold"> Hamza Shah</a></div>
</div>
    </footer>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date()
      ;(function () {
        var s1 = document.createElement('script'),
          s0 = document.getElementsByTagName('script')[0]
        s1.async = true
        s1.src = 'https://embed.tawk.to/61afbb7080b2296cfdd096df/1fmb78cv0'
        s1.charset = 'UTF-8'
        s1.setAttribute('crossorigin', '*')
        s0.parentNode.insertBefore(s1, s0)
      })()
    </script>
    <!--End of Tawk.to Script-->
    <script>
      document.querySelector('#chkbox').addEventListener('change', (e) => {
        if (e.target.checked == true) {
          document.querySelector('.menu').style.position = 'fixed'
          document.querySelector('.menu').style.zIndex = '1000'
        } else {
          document.querySelector('.menu').style.position = 'relative'
        }
      })

      var lastscroll;
      const nav = document.querySelector('header');
window.onscroll = function () {
    var y = window.pageYOffset || document.documentElement.scrollTop;
    console.log(y);
    if (y > lastscroll || y == 0) {
        nav.classList.remove('active')

    } else {
        nav.classList.add('active')

    }
    lastscroll = y;

}

document.getElementById("serv").addEventListener("change",(e)=>{
  document.getElementsByClassName("price")[0].innerHTML = e.target.value;
})

    </script>
  </body>
</html>
